<html>
  <h1>Update a Post</h1>
  <form action="/posts/:id" method="patch">
    <p>Edit Name:<input id="post_name" name="post_name" type="text"></p>
    <p>Edit Content:<input id="post_content" name="post_content" type="text"> </p>
    <input type="submit">
  </form>
  
</html>