<html>
  <h1>Update a Post</h1>
  <form action="/posts/<%= @post.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Edit Name:<input id="name" name="post_name" type="text" value="<%= @post.name %>"></p>
    <p>Edit Content:<input id="content" name="post_content" type="text" value="<%= @post.content %>"> </p>
    <input id='submit' type="submit">
  </form>
  
</html>