<html>
  <h1>Create an Article</h1>
  <form action="/articles" method="POST">
    <p>Title:<input id="name" name="name" type="text"></p>
    <p>Content:<input name="content" type="text"> </p>
    <input type="submit">
  </form>
  
</html>