<html>
  <h1>Create an Article</h1>
  <form action="/articles" method="POST">
    <p>Title:<input name="title" type="text"></p>
    <p>Content:<input name="content" type="text"> </p>
  </form>
  
</html>